# Node
node_modules/
dist/
dist-ssr/
*.local

# TypeScript
*.tsbuildinfo

# Vite
.vite/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local
